
<body>
  <app-header></app-header>
  <div style="padding: 50px;"></div>
  <ng-container *ngIf="foods.length!=0">
    <div class="container">
      <div class="cart-table">
        <div class="cart-product">
          <table class="table">
            <thead>
              <tr>
                <th>No</th>
                <th>Hình ảnh</th>
                <th>Tên món</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Tổng giá</th>
                <th>Tùy chọn</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of foods; let i = index">
                <td>{{i+1}}</td>
                <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.total}}</td>
                <td>
                  <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  
                </td>
                <td>
                  <button class="btn btn-danger" (click)="emptyCart()">Empty Cart</button>
                </td>
                <td>
                  <button class="btn btn-primary">Shop more</button>
                </td>
                
                <td>
                  <button class="btn btn-success" data-toggle="modal" data-target="#myModal" (click)="infoOrder()">Check out</button>
                </td>
                <td><h5>Grand Total: {{grandTotal}} VNĐ</h5></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>


  <ng-container *ngIf="foods.length==0">
    <div class="container">
      <div class="card">
        <h5 class="cart-title">Shopping Cart</h5>
      </div>
      <div class="center">
        <img src="/assets/icons/emptycart.png" alt="">
        <h4>Cart is empty!</h4>
        <h6>Add items to cart</h6>
        <button routerLinkActive="active" routerLink="/menu" class="btn btn-primary">Go to shop now</button>
      </div>
    </div>
  </ng-container>
 
  <div style="padding: 30px;"></div>
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
           <div class="modal-body">
             <form #orderForm="ngForm">
               <div class="form-outline mb-4">
                 <label class="form-label" for="typeText">Tên người nhận</label>
                 <input type="text" id="typeText" minlength="5" name="nameUser" for="nameUser" [(ngModel)]="nameUser" class="form-control" />
               <div class="form-outline mb-4">
                 <label class="form-label" for="typeText">Email</label>
                 <input type="email" class="form-control" id="exampleInputEmail1" name="emailUser" for="emailUser" [(ngModel)]="emailUser" rows="3"/>
                 <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>                </div>
               </div>
               <div class="form-outline mb-4">
                <label class="form-label" for="typeText">Số điện thoại</label>
                <input type="text" id="typeText"  name="phoneNumber" for="phoneNumber" [(ngModel)]="phoneNumber" class="form-control" />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="typeText">Địa chỉ</label>
                <input type="text" id="typeText"  name="address" for="address" [(ngModel)]="address" class="form-control" />
              </div>
              <div class="form-outline">
                <label class="form-label" for="typeText">Giá</label>
                <input disabled type="number" id="typeText"  name="total" for="total" [(ngModel)]="totalOrder" class="form-control" />
              </div>
             </form>
             <div class="form-outline mb-4 col-8">
              <div id="myPaypalButtons" style="padding-left: 124px; padding-top: 80px;"></div>
             </div>
           </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-secondary" (click)="CheckoutPaypal(grandTotal)">Thanh toán qua Paypal (USD)</button>
               <button type="button" class="btn btn-primary" (click)="makePayment(grandTotal)">Thanh toán qua Stripe (VND)</button>
           </div>
        </div>
   </div>

 </div>
</body>

